:root {
  --venetian-red: #bc002d;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url(../fonts/NunitoSans-Light.ttf)
}

@font-face {
  font-family: 'Nunito Sans';
  src: url(../fonts/NunitoSans-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: 'Satisfy';
  src: url(../fonts/Satisfy-Regular.ttf)
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(80px);
  }
  to {
    transform: translateY(0);
  }
}

body {
  margin: 0;
  hyphens: auto;
}